h1{
    color: white;
}
div{
    background-color: #1abc9c;
    text-align: center;
    
}
img{
    height: 100px;
    width: auto;
}
p{
    color: white;
}
.Nav{
    color: white;
}

.W a{
    text-decoration: none;
    color: white;  
    background-color: black;
     
      
}

.Head a{
    display: flex;
    justify-content: flex-start;
}
.Nav a{
    display: flex;
    justify-content: flex-end;
}

    

