a{       
            text-decoration: none;           
}
.fb{
    background-color: white;
    color: blue;
}

.tw{
    background-color: white;
    color: rgb(0, 217, 255);
}
h1{
    font-size: medium;
}
body{
    width: 300px;
    margin: 150px auto;
}








   
