@using ASPnetT1.Models

@model List<Product>
@{
    ViewData["Title"] = "Product";
}
<div class="A">

    @foreach(var product in Model)
{
    <div class="col-md-4">
         <div class="card" style="width: 18rem;">
  <img src="~/uploads/images/@product.Image" class="card-img-top" alt="@product.Name">
  <div class="card-body">
    <h5 class="card-title">@product.Name</h5>
    <p class="card-text">@product.Description</p>
   <p>@product.Price</p>
  </div>
</div>

    </div>
   

}
</div>



